node_modules/

dist/
dist-ssr/
build/
*.tsbuildinfo

.env

!./.env.example
*client_secret*.json
!backend/.env.example
!frontend/.env.example

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/

.eslintcache
**/coverage/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

postgres_data/
**/__pycache__/
