POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=sport_events_db
DATABASE_URL=postgresql://admin:admin@db:5432/sport_events_db
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SECRET_KEY=secretkey
GOOGLE_CLIENT_ID=
